@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
}

.filled {
  font-variation-settings: 'FILL' 1;
}

.fade-right {
  mask-image: linear-gradient(to right, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black 90%, transparent 100%);
}

.no-scrollbar::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}

button{
  cursor: pointer;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}